body{
  margin:0;
  width: 100%;
  overflow-x: hidden;

}
hr{
  border-color: #f1f1f1;
  background-color: #f1f1f1;
}
p{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #474747;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0px;
  text-align: center;
}
h2{
  text-align: center;
  font-family: 'Playfair Display', serif;
}
h4{
  margin-top:1px; /*effect in cover*/
}
video{
  display: block;
  float: Center;
  border-radius: 20px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin-right: 0px;

}
.videotext{
  margin: 0% 55% 3% 5%;
  text-align:left;
  float:left;
}

.imgCenter{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}
th{
  color: #ffffff;
  font-size: 5em;
}
td{
  color: #ffffff;
  font-size: 2em;
  text-align: center;
}
table{
  width: 100%;
  table-layout: fixed;
  font-family:'Playfair Display', serif;
}
.Status{
  width:100%;
  padding:5%;
  padding-top:50px;
}
.paragraph{
  margin: 3% 15% 3% 15%;
}
.justify{
  text-align: justify;
}





/******** form CSS **********/
form{
  text-align: center;
}
input{
  font-family: 'Poppins', sans-serif;
  height: 50px;
  padding: 12px 20px;
  display: absolute;
  font-size: 1em;
  border-radius: 30px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
}
select{
  font-family: 'Poppins', sans-serif;
  width: 25%;
  height: 50px;
  padding: 12px 20px;
  display: absolute;
  font-size: 1em;
  border-radius: 30px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
}
textarea{
  font-family: 'Poppins', sans-serif;
  padding: 12px 20px;
  display: absolute;
  font-size: 1em;
  border-radius: 30px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
}
input[type=radio]{
  display:inline;
  width: 15px;
  height: 15px;
  padding: 1px;
  font-size: 3em;
  border-radius: 30px;
  border-style: solid;
  border-width: 10px;
  box-sizing: border-box;
  size: 100px;
}
label{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #474747;
  font-size: 1em;
  text-align: center;
}
input[type=submit]{
  width: 20%;
  height: 50px;
  padding: 12px 20px;
  display: absolute;
  font-size: 1em;
  border-radius: 30px;
  border-style: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  border: 2px solid #ffffff;
}

input[type=submit]:hover {
  color: white;
  background-color: #0496ff;
}


/******** Title **********/
#title{ /*for all page title*/
  font-weight: 700;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  color: #d00000;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 3px;
}
#titleVideo{
  font-weight: 700;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  color: #d00000;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 3px;
  float:left;
}
#center{ /*for center div and text*/
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}



/******** Map **********/
iframe{
  border-radius: 20px;
}
a{
  color: inherit;
  text-align: center;
}





/********* logo ************/
#logo{
  width:16%;
  margin: 2%;
  margin-left: 50px;
}
.padding{
  padding: 2%;
}

/************ Social Media Icon ************/
#socialMediaIcon{
  position: relative;
  float: right;
  font-size: 90%;
  display:flex;
  justify-content:center;
  margin: 3% 10% 0 0;

}

.fa{
  padding: 30%;
  width: 40%;
  height: 40%;
  text-align: center;
  text-decoration: none;
  margin: 5px 3px;
  border-radius: 50%;
  background-color: #d00000;
  color: #ffffff;
}

.fa:hover {
  transition: background 0.5s;
  background: #ffbc42;
}

.fa-facebook {
  padding-right: 35%;

}

.fa-google {
  color: white;
}
.fa-youtube {
  color: white;

}
.fa-instagram {
  color: white;

}
table .fa{
  padding: 0;
  font-size: 40%;
  text-align: center;
  text-decoration: none;
  background-color:#ffffff;
  color: #000000;
}
table .fa:hover{
  transition: background 0.5s;
  background-color: #ffffff;
  color: #0496ff;
}

.tableContact{
  border: 3px solid #f1f1f1;
  border-radius: 200px;
  border-collapse: collapse;
  width:90%;
  padding:0% 4% 2% 4%;
}
.tableContact td{
  color: black;
  font-size:1em;
  padding: 0.5em;
  border:solid 3px #f1f1f1;
}
.tableContact th{
  color: black;
  font-size:1.5em;
  padding: 0.5em;
  border:solid 3px #f1f1f1;
}
.Address{
  width:100%;
  padding:4% 4% 2% 4%;
  font-size:1em;
}
.Address th{
  color: black;
  font-size:1em;
}
.Address td{
  color: black;
  font-size:1.5em;
}

/************ Navigation Bar ************/
ul {
  position: sticky;
  position: -webkit-sticky; /* Safari */
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0496ff;
  top: 0;
  border-bottom-style: inset;
  border-bottom-color: #00487c;
  border-bottom-width: 5px;
  z-index: 500;
}

li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight:1000;
  font-family: 'Poppins', sans-serif;
}

li a:hover {
  background-color: #00487c;
  transition: background 0.5s;
}




/************ Cover ************/
.cover{
  width: 100%;
  border-radius: 0px;
}
.cover1{
  position: relative;
  background-image: url(Photo/HomeCover/cover1.jpg);
  background-repeat: no-repeat;
  height: 700px;
  width: 100%;
  background-size: 100%;

}
.cover2{
  position: relative;
  background-image: url(Photo/HomeCover/cover2.jpg);
  background-repeat: no-repeat;
  height: 700px;
  width: 100%;
  background-size: 100%;

}
.cover3{
  position: relative;
  background-image: url(Photo/HomeCover/cover3.jpg);
  background-repeat: no-repeat;
  height: 700px;
  width: 100%;
  background-size: 100%;

}
.textCover{
  font-family:'Playfair Display', serif;
  color: white;
  font-weight: bold;
  font-size: 5em;
  position: absolute;
  top: 125px;
  left: 5%;
  width: 70%;
  text-align: left;
  font-style: none;
}
.SubtextCover{
  font-family:'Poppins', sans-serif;
  color: white;
  font-weight: bold;
  font-size: 1em;
  position: absolute;
  top: 100px;
  left: 5%;
  width: 40%;
}
.JoinUsbox{
  font-family:'Poppins', sans-serif;
  color: white;
  font-weight: bold;
  font-size: 2em;
  position: absolute;
  top: 450px;
  left: 5%;
  width: 250px;
  height: 50px;
  text-align: center;
  border-style:solid;
  border-radius: 50px;
  border-color:#ffffff;
  text-decoration: none;
}
.JoinUsbox:hover{
  color: #0496ff;
  background-color: #ffffff;
  transition: background 0.5s;
}
.mySlides {display: none}
img {
  vertical-align: middle;
  width: 100%;
  border-radius: 20px;
}
.Protect{
  width: 96%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}
.objFit{
  height: 100%;
  object-fit: cover;
}
.ourStorycenter{
  top: 23%;
  left:28%;
}





/************ Photo&Imgae ************/
.parent {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    text-align: left;
}
.parent .child {
  padding-right: 50px;
  flex-grow: 1;
  width:50%;
  font-size:80%;

}
.parent .child2 {
  flex-grow: 1;
  width:50%;
  font-size:80%;

}




/************ Slideshow container ************/
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dotcenter{
  position:absolute;
  z-index: 100;
  left: 50%;
  top: 3%;
  transform: translate(-50%, -50%);

}

.active, .dot:hover {
  background-color: #00487c;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}




/************Div-Contanier-Center************/
#container {
  display: flex;
  justify-content:center;
}
#container > div {
  margin: 0% 10px 0% 10px;
  padding: 10px;
  border-style: solid;
  border-width: medium;
  border-radius: 20px;
  border-color: #f1f1f1;
  transition: border-color 0.50s;
  width: 400px;
}

#container > div:hover {
  border-color: #d00000;
}

.readmore{
  font-size: 1.2em;
  font-family: 'Poppins', sans-serif;
  padding: 7px;
  border: 3px solid #f1f1f1;
  border-radius: 25px;
  width: 200px;
  text-align: center;
  display:inline-block;
  background-color: #ffffff;
  text-decoration: none;
  color: #c8c6c6;
  font-weight: bold;
  transition: background-color 0.5s;
  margin-left: 42%;
}
.readmore:hover{
  color: #ffffff;
  background-color: #0496ff;
}


/************Quote1 in Homepage*************/
.fixed-bg1{
  background-image: url(Photo/QuoteImages/Quote1.jpg);
  min-height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.fixed-bg2{
  background-image: url(Photo/QuoteImages/Quote2.jpg);
  min-height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.fixed-bg3{
  background-image: url(Photo/QuoteImages/Quote3.jpg);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.Quotetext{
  font-family:'Playfair Display', serif;
  color: #ffffff;
  text-align: center;
  padding-right: 100px;
  padding-left: 100px;
  font-size: 3em;
  font-style:italic;
  padding-top:80px;
  margin-top: 30px;
}
.SubQuote3{
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin-bottom:0px;
  padding-top:50px;

}
.Quotetext3{
  position:block;
  margin-top:0px;
  font-family:'Playfair Display', serif;
  color: #ffffff;
  text-align: center;
  font-size: 5em;
  font-weight: bold;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 2px;
  margin-bottom: 20px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 24.5%; /* IE10 */
  flex: 24%;
  max-width: 24%;
  padding: 0 0.5%;
}
.content{
  text-align: left;
  text-align: justify;
  height: 100%;
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 20px;
}
.footer{
  position: absolute;
  width: 100%;
  height: 22%;
  background-color: #191919;
}
.imgFoot{
  width: 15%;
  padding-left: 42%;
  padding-right: 40%;
  padding-top: 1%;
  padding-bottom: 1%;
}
.textFoot{
  font-family: 'Poppins', sans-serif;
  font-size: 70%;
  color: #c8c6c6;
  text-align: center;
  padding-top: 0.5%;
  margin-bottom: 0px;
  padding-bottom: 10px;
}

.column2 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  padding: 0 2% 2% 2%;
}
.column2 img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 20px;
}
.column3 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  padding: 0 2% 2% 2%;
  margin: 0% 10px 0% 10px;
  padding: 10px;
  border-style: solid;
  border-width: medium;
  border-radius: 20px;
  border-color: #f1f1f1;
  transition: border-color 0.50s;
}
.column3 img {
  margin-top: 8px;
  vertical-align: middle;
  width: 50%;

}
.column3 p {
text-align: center;
}
.column3:hover {
  border-color: #d00000;
}
.Question{
  font-size: 1em;
}

/********** News *********/
.NewsTitle{
  font-size: 1.5em;
  font-weight: bold;
  font-family:'Playfair Display', serif;
  color: #000000;
  margin: 0px;
  padding: 0px;
}
a {text-decoration: none;}
.NewsCaption{
  font-size: 1em;
  text-align: justify;
  padding: 10px 20 20 20;
}

.getInTouch{
  font-size: 4em;
  text-align: center;
  margin-top: 10px;
  color:#d00000;
}
.SubmitPage{
  width: 20%;
}



/* Tablet display */
@media only screen and (max-width: 64em) {
  #logo{width:19%;margin-top: 3%; }

  #socialMediaIcon{
    font-size: 85%;
    margin: 2.5% 15% 0 0;

  }
  .SubtextCover{
    top: 20px;
    font-size: 0.7em;
    width: 60%;
  }
  .textCover{
    top: 40px;
    font-size: 3.2em;
    width: 60%;
  }
  .cover1{ height: 480px; }
  .cover2{ height: 480px;}
  .cover3{ height: 480px;}
  .JoinUsbox{
    font-size: 1.4em;
    position: absolute;
    top: 230px;
    width: 150px;
    height: 38px;
  }
  p{
    font-size: 1em;
  }
  .readmore{margin-left: 35%;}
  .Quotetext{
    font-size: 2em;
    padding-top:80px;
    margin-top: 50px;
  }
  .readmoreInnews{
    color:#000000;
    font-weight:bold;
  }
  th{ font-size: 4em; padding-top: 20px;}
  td{ font-size: 1.4em; }
  .Quotetext3{font-size: 3em;}
  .SubQuote3{ padding-top:30px;}
  .footer{height: 16%;}
  .fixed-bg3{ min-height: 400px;}
  .responsive {width: 31.7%;}
  #ourStory{font-size:100%;}
  #title{font-size:150%;}
  .NewsTitle{font-size: 1.2em;}
  .NewsCaption{font-size: 0.8em;}
  input{
    width: 90%;
    font-size: 0.8em;
    height: 30px;
  }
  select{
    height: 30px;
    padding: 0;
  }
  textarea{
    height: 400px;
    width: 90%;
    padding: 20px;
    font-size: 0.9em;
  }
  .tableContact { width:100%;}
  .tableContact td{font-size:0.8em;}
  .tableContact th{font-size:0.9em;}
  .column {
    -ms-flex: 49%;
    flex: 49%;
    max-width: 49%;
  }
  input[type=submit]{
    width: 33%;
  }
  .Volunteer input{
    width: 60%;
  }
\\
  .ourStorycenter{
    top: 13%;
    left:18%;
  }

}

/* Mobile display */
@media only screen and (max-width: 37.6em) {
  body{
    margin:0;
    width: 100%;
    overflow-x: hidden;

  }
  #logo{width:30%;margin:3%;}


  #socialMediaIcon{
    font-size: 0;
    margin:0;
  }
  .fa{  background-color: #ffffff;}

  li {float: left;}
  li a {
    font-size: 0.5em;
    padding: 14px 8px;
  }

  .SubtextCover{
    top: 2px;
    font-size: 0em;
    width: 60%;
  }
  .textCover{
    top: 30px;
    font-size: 0em;
    width: 70%;
  }
  .cover1{ height: 0px; }
  .cover2{ height: 0px;}
  .cover3{ height: 0px;}
  .JoinUsbox{
    font-size: 0em;
    width: 0px;
    height: 0px;
    border-width: 0px;
  }
  .dot {
    height: 0px;
    width: 0px;
  }
  .readmore{
    margin-left: 36.5%;
    font-size: 0.6em;
    padding: 7px;
    width: 100px;
  }
  p{
    font-size: 0.7em;
    padding: 1%;
  }
  h2{font-size: 0.83em}

  #container > div {
    margin: 0% 5px 0% 5px;

  }
  .Quotetext{
    font-size: 1.5em;
    padding-top:20px;
  }
  video{
    display: block;
    float: Center;
    border-radius: 20px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-right: 0px;
  }
  .videotext{
    margin: 65% 5% 3% 5%;
    text-align:center;
    float:center;
  }
  .VDO{
    padding:0 2% 2% 2%;
  }
  th{ font-size: 2em; padding-top: 0px;}
  td{ font-size: 1em; }

  .Quotetext3{font-size: 2em;}
  .SubQuote3{ padding-top:30px;}
  .footer{height: 16%;}
  .fixed-bg1{ min-height: 230px;}
  .fixed-bg2{ min-height: 200px;}
  .fixed-bg3{ min-height: 300px;}
  input[type=submit]{
    width: 23%;
    height: 30px;
    padding: 1px 20px;
    font-size: 0.7em;
  }

  .Address td{
    font-size:0.7em;
  }
  .footer{
    height: 12%;
  }

  .responsive {width: 31.7%;}
  #ourStory{font-size:0.9em;}
  #title{font-size:150%;}
  .parent {
      display: flex;
      flex-direction:column;
      padding: 4%;
      background-color: #fff;
      text-align: left;
  }
  .parent .child {
    padding-right: 50px;
    flex-grow: 1;
    width:100%;
    font-size:80%;

  }
  .parent .child2 {
    flex-grow: 1;
    width:100%;
    font-size:80%;

  }

  .NewsTitle{font-size: 1.2em;}
  .NewsCaption{font-size: 0.8em;}
  input {
    margin: 5px;
    font-size: 0.8em;
    height: 30px;
  }
  select{
    height: 30px;
    padding: 0;
  }
  textarea{
    margin: 5px;
    width: 90%;
    height: 300px;
    padding: 20px;
  }
  .tableContact td{font-size:0.5em;}
  .tableContact th{font-size:0.5em;}
  .column2 {
    -ms-flex: 30%; /* IE10 */
    flex: 50%;
    padding: 0 2% 2% 2%;
  }
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
  .column2 {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
  .column3 {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
    margin-bottom: 50px;
  }
  .prev, .next {
    top: 20%;
    margin-top: -22px;
    font-size: 0;
  }
  .next {
    right: 0;
    border-radius:0;
  }
  .prev:hover, .next:hover {
    background-color:#ffffff;
  }
  #titleVideo{
    font-size:150%;
    float: none;
    text-align: center}
}
